# VS Code
.vscode

# Github
.github

# Dev container
.devcontainer

# Java
target
*.class

# Python
__pycache__
**_/*.lock
**_/*.pyc

# C#
bin
obj

# Windows scripts
*.cmd

# Logs
var/logs
logs
*.log
